@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
    /* colors */
    --fucsia: #530071;

    /* Texts */
    --logo: 'PT Sans', sans-serif;
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Header */
header {
    height: 50px;
    background-color: var(--fucsia);
}